@import "tailwindcss";

@theme {
  --color-stratum-dark: #050505;
  --color-stratum-obsidian: #0a0a0a;
  --color-stratum-gray: #171717;
  
  --color-stratum-amber: #F59E0B;
  --color-stratum-gold: #FBBF24;
  --color-stratum-yellow: #FCD34D;
  
  --color-stratum-cyan: #06b6d4;
  
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply bg-stratum-dark text-slate-200 font-sans antialiased selection:bg-stratum-amber selection:text-black;
  }
}
